.row {
  height: 100%;
  width: 100%;
}

.input-range {
  max-height: 20%;
  width: 100%;
}

.input-start {
  width: 50%;
}

.input-end {
  width: 50%;
}

.instructions {
  max-height: 20%;
}


.row.no-gutters.row-top{
  margin-bottom: 50px;
  height: 50%;
  width: 100%;
}
/* 
.row.no-gutters.row-bottom{
  height: 1%;
  width: 100%;
} */

.container-fluid.container-bottom{
  height: 10%;
}

p{
  height: 7px;
  /* width: 200px; */
padding-bottom:2px ;
}
