.row {
  height: 100%;
  width: 100%;
}

.input-range {
  max-height: 20%;
  width: 100%;
}

.input-start {
  width: 50%;
}

.input-end {
  width: 50%;
}

.instructions {
  max-height: 20%;
}

.activity-container {
  height: 200px;
  max-width: 800px;
}