.float{
    float:right;
    margin:0px;
    margin-left:-20px!important;
}
.float-left{
    float:left;
    margin-left:0px;
    margin-top:20px;

}
.float2{
    margin:0px;
    float:right;
}

.viewData{
    min-height: 610px;
}

/* #log{
    max-width: 100%;
} */

#container{
    height: 900px;
}

.slider{
    height: 5px;
}

/* entry-row, .entry-row-2{
    height: 200px;
} */

/* .input-row{
    height: 200px;
}  */